body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #16284a;
}

.container {
  max-width: 92rem;
  margin: auto;
}

main {
  /* display: grid;
  grid-template-columns: 0.25fr, 0.25fr, 0.25fr, 0.25fr;
  grid-template-rows: auto;
  grid-template-areas: "top top top top" "main picture picture sidebar" "footer footer footer footer"; */
}

h1 {
  font-weight: 100;
  font-size: 5rem;
  text-align: center;
  margin: 0px;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 1px #5dfc71;
}

h2,
h3 {
  font-weight: 100;
  font-size: 2rem;
  color: #5dfc71;
  text-shadow: 1px 1px 1px #16284a;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #16284a;
}

ul li {
  flex-grow: 1;
  color: #5dfc71;
}

li a {
  display: block;
  color: #5dfc71;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

a:visited {
  color: #5dfc71;
}

a:hover {
  color: #aaa;
}

li.active > a {
  background-color: #eeeeee;
  color: #16284a;
}

p {
  text-align: justify;
}

q {
  font-style: italic;
}

.image {
  grid-area: picture;
}

.item-a {
  grid-area: top;
}

.item-b {
  grid-area: main;
}
