/* 

COLORS:

main font       #33332A
nav background  #33332A
light font      #D5C389
light text      #EEEEEE
title color     #929456 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #33332a;
}

.container {
  padding: 1rem;
  max-width: 72rem;
  margin: auto;
}

.logo {
  display: block;
  height: 5rem;
  margin: auto;
}

h1 {
  font-weight: 100;
  font-size: 5rem;
  text-align: center;
  margin: 0px;
  margin-bottom: 1rem;
}

h2,
h3 {
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #929456;
}

nav {
  margin-bottom: 2rem;
}

nav > ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #33332a;
}

nav > ul li {
  flex-grow: 1;
}

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

a:visited {
  color: #d5c389;
}

a:hover {
  color: #eeeeee;
}

li.active > a {
  background-color: #eeeeee;
  color: #33332a;
}

ul#tours li {
  list-style-type: circle;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

p {
  margin-bottom: 0.5rem;
}

p:last-of-type {
  margin-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px;
  margin-bottom: 2rem;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 7;
}
.gallery__item--5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 7;
}
.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}
