body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #16284a;
}

h1 {
  font-weight: 100;
  font-size: 8vw;
  text-align: center;
  margin: 0px;
  margin-bottom: 1rem;
}

h2, h3 {
  font-weight: 100;
  font-size: 2rem;
  color: #5dfc71;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #16284a;
}

ul li {
  flex-grow: 1;
  color: #5dfc71;
}

li a {
  display: block;
  color: #5dfc71;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

a:visited {
  color: #5dfc71;
}

a:hover {
  color: #aaa;
}

li.active>a {
  background-color: #eeeeee;
  color: #16284a;
}

p {
  text-align: justify;
}

q {
  font-style: italic;
}